<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="container">
  <div>
  <form [formGroup]="userInForm" (ngSubmit)="updateUser()">
    <label for="fname">Name</label>
    <input type="text" id="name" class="label" formControlName="name">

    <label for="lname">Job</label>
    <input type="text" id="job" class="label" formControlName="job">
  
    <input type="submit" class="submit" value="Update">
  </form>
</div>
</div>



</body>
</html>

